<section id="todos">
	<header>
		<h2><%= @list[:name] %></h2>
		<ul>
			<li><a class="edit" href="/lists/<%= params[:id] %>/edit">Edit List</a></li>
		</ul>
	</header>

	<ul>
	<h3>Todos</h3>
		<% @list[:todos].each_with_index do |todo, index| %>
			<li>
				<h4><%= todo[:name] %></h4>
			</li>
		<% end %>
	</ul>

</section>

<form action ="/lists/<%= @list_id %>/todos" method="post">
	<dl>
		<dt>
			<label for="todo">Enter todos:</label>
		</dt>
		<dd>
			<input name="todo" placeholder="Todo Name" type="text" value="">
		</dd>
	</dl>
	<fieldset class="actions">
		<input type="submit" values="Save">
		<a href= "/lists">Cancel</a>
	</fieldset>
</form>


<% content_for :header_links do %>
	<a href="/lists">All List</a>
<% end %>
